@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#121214] text-slate-900 min-h-screen font-sans antialiased selection:bg-[#d4ff32] selection:text-black;
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background: #161618;
}
::-webkit-scrollbar-thumb {
  background: #333338;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d4ff32;
}
